<section class="register-container">
  <mat-card class="register-card">
    <div class="register-body">
      <mat-card-title class="text-center"
        >Registro de Nuevos Usuarios</mat-card-title
      >
      <mat-card-content>
        <div
          class="register-inputs grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-2"
        >
          <mat-form-field appearance="outline">
            <mat-label>Nombre Completo</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Edad</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirmar Contraseña</mat-label>
            <input type="password" matInput />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions
        class="text-center register-credentials"
        style="margin-top: 10px"
      >
       <button mat-raised-button color="warn" routerLink="/login" >Atrás</button>
        <button mat-raised-button color="primary">Registrarse</button>
      </mat-card-actions>
      <mat-card-footer *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </div>
  </mat-card>
</section>
