<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list class="p-5">
       <div class="item-navbar">
        <a (click)="sidenav.toggle()">Test</a>
       </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 100vh;">
          <mat-toolbar color="primary">
            <button  mat-icon-button 
                     aria-label="Menu"
                     (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>  
    </mat-toolbar>
    <main class="p-5">
      <router-outlet></router-outlet>
      </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  