mat-sidenav-container{
    mat-sidenav{
        width: 250px;
    }
    .main-content-app{
        height: 100vh;
    }
<<<<<<< main

    .activo{
        color: blue;
        font-weight: bold;
      }
=======
>>>>>>> testing
}